# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
.env/
.env.*

# ----------------------
# Environment variables
# ----------------------
.env
*.env

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Database
# ----------------------
*.sqlite3

# ----------------------
# Pytest
# ----------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------
# Build / packaging
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Docker
# ----------------------
*.pid
*.sock

# ----------------------
# Misc
# ----------------------
*.swp
